.favorite-container {
    margin-top: 70px;
    padding: 30px 10% 5% 10%;
}
.favorite-container-div {
    display: flex;
    gap: 20px;
}
.my-account-nav {
    width: 28%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.175);
  }
  .my-account-nav ul {
    padding: 0 15px;
  }
  .my-account-nav ul li{
    list-style-type: none;
    padding: 14px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0;
  }
  .my-account-nav ul li:hover {
    background-color: rgb(237, 237, 237);
    margin: 0;
  }
  .logout-button {
    margin: 10px 10px;
    height: 40px;
    cursor: pointer;
    background-color: orange;
    border: none;
    border-radius: 2px;
  }
  .favourite-hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.175);
  }


  @media screen and (min-width: 100px) and (max-width: 860px){
    .favorite-container {
      align-items: center;
      padding: 5px 2% 10px 2%;
      margin-top: 85px;
      gap: 10px;
      width: auto;
      overflow-x: hidden;
    }
    .favorite-container-div {
      width: 100%;
    }
    #favorite-navlinks {
      display: none;
    }
    .my-account-nav ul, button {
      display: none;
    }
    .favourite-hero {
      width: 100%;
    }
}

@media screen and (min-width: 860px) and (max-width: 1024px){
  .favorite-container {
      align-items: center;
      padding: 5px 2% 10px 2%;
      margin-top: 85px;
      gap: 10px;
      width: auto;
      overflow-x: hidden;
    }
    .favorite-container-div {
      width: 100%;
    }
    #favorite-navlinks {
      display: none;
    }
    .my-account-nav ul, button {
      display: none;
    }
    .favourite-hero {
      width: 100%;
    }
}